@media (max-width: 1268px) {
  .banner-text-right {
    h2 {
      font-size: 19px !important;
    }
    p {
      font-size: 15px !important;
    }
    button {
      font-size: 15px !important;
    }
  }
}
@media (max-width: 1000px) {
  .banner-text-right {
    h2 {
      font-size: 16px !important;
    }
    p {
      font-size: 12px !important;
    }
    button {
      font-size: 12px !important;
    }
  }
}
@media (max-width: 735px) {
  .banner-text-right {
    h2 {
      font-size: 13px !important;
    }
    p {
      font-size: 10px !important;
    }
    button {
      font-size: 10px !important;
    }
  }
}
@media (max-width: 555px) {
  .banner-text-right {
    h2 {
      font-size: 11px !important;
    }
    p {
      font-size: 8px !important;
    }
    button {
      font-size: 8px !important;
    }
  }
  .banner-text-right {
    left: 50% !important;
  }
}
.banner-img-train {
  width: 100%;
}
.banner-text-right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.colection-btn {
  padding: 10px 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 19px;
  font-weight: 300;
  border-radius: 2px;
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
  }
}
