$primary-color: #ffffff;
$secondary-color: #f0f0f0;
$bg-transparent: rgba(255, 255, 255, 0.7);
$text-color: #333;

.carousel-item {
  img,
  svg {
    width: 100% !important;
  }
}
.shadow-sm {
  border: none;
  box-shadow: none;
}
.text-message-home {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
