$primary-color: #ffffff;
$secondary-color: #f0f0f0;
$bg-transparent: rgba(255, 255, 255, 0.7);
$text-color: #333;
$text-second-color: #d6bebe;
$btn-second-color: #d6bebe23;
$text-second-color-dark: #a79090;
$text-dark-screen-grey: #999898;
$offer-color-text: #058348;

@media (max-width: 1500px) {
  .btn-color {
    width: 60px !important;
    font-size: 12px !important;
  }
  .filter-sizes {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .filter-sizes button {
    width: 60px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 1200px) {
  .filter-colors {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .btn-color {
    width: 55px !important;
    font-size: 11px !important;
  }
  .filter-sizes button {
    width: 40px !important;
    font-size: 10px !important;
  }
}
@media (max-width: 900px) {
  .filter-panel {
    display: none;
  }
  .col-size-products {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 2%;
  }
  .content-products-tittle {
    h2 {
      font-size: 22px;
    }
    button {
      margin-top: 0 !important;
    }
  }
  .filter-btn {
    display: flex !important;
  }
  .filter-sidebar {
    display: flex !important;
  }
}
@media (max-width: 650px) {
  .content-products-tittle {
    h2 {
      font-size: 18px;
    }
    .order-cont-btn {
      display: none !important;
    }
    .share-cont-btn {
      display: none !important;
    }
  }
}
@media (max-width: 550px) {
  .filter-sidebar {
    width: 60% !important;
  }
}
@media (max-width: 450px) {
  .content-products-tittle {
    h2 {
      font-size: 15px;
      span {
        font-size: 15px;
      }
    }
    .order-cont-btn {
      display: none !important;
    }
    .share-cont-btn {
      display: none !important;
    }
  }
  .filter-sidebar {
    width: 70% !important;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #333;
  margin: 0 0 50px;
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  .banner-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .banner-text p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
.filter-btn {
  display: none;
}
.filter-sidebar {
  display: none;
}

.content-products-tittle {
  margin: 0 auto;
  width: 98%;
  margin-bottom: 30px;
  justify-content: space-between;
  h2 {
    font-weight: 400;
  }
  span {
    margin-left: 3px;
    font-size: 20px;
  }
  button {
    background-color: transparent;
    border: none;
    margin-top: 10px;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  display: flex;
}

.filter-panel {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  h4 {
    font-weight: 400;
  }
  h5 {
    font-weight: 400;
  }
}

.filter-panel h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.filter-section {
  margin-bottom: 1.5rem;

  h5 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5rem;

    li {
      margin-bottom: 0.6rem;

      input[type="checkbox"] {
        margin-right: 0.5rem;
      }
    }
  }

  input[type="range"] {
    width: 100%;
    margin-top: 0.5rem;
  }

  span {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.3rem;
  }
  .filter-colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .btn-color {
      width: 80px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      font-weight: 200;
    }

    .color-black {
      background-color: #000;
      color: #fff;
    }
    .color-white {
      background-color: #fff;
      color: #000;
    }
    .color-gray {
      background-color: rgb(170, 170, 170);
    }
    .color-bege {
      background-color: #dac8b3;
      color: #fff;
    }
    .color-yellow {
      background-color: rgb(255, 236, 61);
      color: #000;
    }
    .color-blue {
      background-color: rgb(72, 114, 252);
      color: #fff;
    }
    .color-green {
      background-color: rgb(66, 212, 66);
      color: #fff;
    }
    .color-red {
      background-color: rgb(255, 49, 49);
      color: #fff;
    }
    .color-pink {
      background-color: pink;
      color: #000000;
    }
    .color-purple {
      background-color: rgb(123, 8, 158);
      color: #fff;
    }
    .color-brown {
      background-color: rgb(177, 119, 12);
      color: #fff;
    }
    .color-multi {
      background: rgb(232, 54, 0);
      background: linear-gradient(
        36deg,
        rgba(232, 54, 0, 0.9024859943977591) 9%,
        rgba(44, 99, 25, 0.8016456582633054) 52%,
        rgba(21, 0, 255, 1) 100%
      );
      color: #fff;
    }
  }
  .filter-sizes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    button {
      width: 60px;
      border: none;
      background-color: $btn-second-color;
      font-weight: 200;
    }
    button:hover {
      background-color: #0000001e;
      transition: 0.4s;
    }
  }
}
.row-container {
  width: 100vw !important;
}
.album {
  padding-right: 1rem;
  flex-grow: 1;
}

.card-body {
  padding: 1rem;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.card-img-top {
  height: 225px;
  object-fit: cover;
}

.btn-group {
  button {
    font-size: 0.8rem;
  }
}
.keep-on {
  font-size: 1rem;
  font-weight: 200;
  input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &:checked {
      background-color: #a7909057;
      border-color: $text-second-color-dark;

      &::after {
        content: "";
        position: absolute;
        top: 4.2px;
        left: 4px;
        width: 50%;
        height: 50%;
        background-color: $text-second-color-dark;
        border-radius: 100%;
      }
    }

    &:focus {
      outline: none;
    }
  }

  label {
    cursor: pointer;
    user-select: none;
  }
}

.signin-footer {
  margin-top: 20px;
  font-size: 0.95rem;
  text-align: center;
  font-weight: 200;
  color: $text-dark-screen-grey;
  background-color: #000000;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* sidebar new */

.filter-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  padding: 20px;
  overflow-y: auto;

  &.open {
    left: 0;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .filter-panel-side {
    h4 {
      font-size: 1.25rem;
      margin-bottom: 20px;
    }

    .filter-section {
      margin-bottom: 15px;

      h5 {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      ul {
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 8px;

          input {
            margin-right: 8px;
          }

          .btn-color {
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &.color-black {
              background-color: black;
            }

            &.color-white {
              background-color: white;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }
  }
  .btn-side-color {
    button {
      width: 30px !important;
      height: 30px !important;
    }
  }

  /* RESPONSIVIDADE */
  @media (max-width: 768px) {
    width: 50%;
    padding: 15px;

    .filter-panel-side h4 {
      font-size: 1.15rem;
    }

    .filter-section h5 {
      font-size: 0.95rem;
    }

    .btn-color {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: 576px) {
    width: 50%;
    padding: 10px;

    .filter-panel-side h4 {
      font-size: 1rem;
    }

    .filter-section h5 {
      font-size: 0.85rem;
    }

    ul li {
      margin-bottom: 6px;
    }

    .btn-color {
      width: 20px;
      height: 20px;
    }
  }
  .inv-word {
    color: transparent;
    margin-top: 10px;
  }
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-left: auto;
}
