// Variáveis para cores
$primary-color: #ffffff;
$secondary-color: #f0f0f0;
$bg-transparent: rgba(255, 255, 255, 0.7);
$text-color: #333;
$text-second-color: #d6bebe;

// Header Styles
header {
  width: 100vw !important;
}
body {
  width: 100vw !important;
}
#navbar {
  @media (max-width: 1200px) {
    .nav {
      display: flex;
      align-items: center;

      li {
        display: none;

        &:first-child {
          display: block; // Exibe apenas o logotipo
        }
      }
    }
    .header-search {
      display: none;
    }
    .search-btn {
      display: block;
      &:hover {
        color: $text-second-color;
      }
    }
    .list-btn {
      display: block;
      font-size: 23px;
      &:hover {
        color: $text-second-color;
      }
    }
  }
  @media (max-width: 450px) {
    .logo-header {
      position: relative;
      right: 35%;
    }
  }

  background-color: $bg-transparent;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80px;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-color; // Ajuste se precisar de outro fundo no scroll
  }
  .header-content-main {
    position: relative;
  }
  .header-bg-color {
    &.bg-transparent {
      backdrop-filter: blur(8px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 25px;
    .nav-link {
      font-size: 19px;
      font-weight: 300;
    }
  }
  .header-content {
    position: relative;
    bottom: 20px;
    .dropdown-content {
      display: none !important;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100% !important;
      height: 20vh;
      background-color: #f8f9fa;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      transition: all 0.3s ease;
    }

    &:hover .dropdown-content {
      display: flex !important;
      width: 100px !important;
    }

    .dropdown-content a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      padding: 5px 0;
      border-radius: 4px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #e9ecef;
      }
    }
  }
}

.main-logo-nav {
  width: 80px;
  height: auto;
  margin-right: 20px;
  position: relative;
  bottom: 1px;
}

.nav {
  display: flex;
  align-items: center;

  .nav-link {
    color: $text-color;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $text-second-color;
    }

    &.text-secondary {
      color: $secondary-color;
    }
  }
}
.text-end {
  display: flex;
  position: absolute;
  right: 10px;
  input {
    padding: 0.4rem 0.8rem;
    border: 1px solid $secondary-color;
    border-radius: 19px;
    font-size: 16px;
    font-weight: 200;
    width: 200px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $text-second-color;
      outline: none;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40px; // Tamanho fixo dos botões
    height: 40px;

    &.fav-btn {
      background-color: transparent;
      color: $text-color;
      height: 35px;
      &:hover {
        color: $text-second-color;
      }
    }
    &.signin-btn {
      background-color: transparent;
      color: $text-color;
      height: 35px;
      &:hover {
        color: $text-second-color;
      }
    }
    &.signup-btn {
      background-color: transparent;
      color: $text-color;
      border: none !important;
      height: 35px !important;
      &:hover {
        color: $text-second-color;
      }
    }
  }
  .search-btn {
    background-color: transparent !important;
    border: none;
    display: none;
  }
  .list-btn {
    background-color: transparent !important;
    border: none;
    display: none;
    width: 100w;
    height: 100h;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.open {
    transform: translateX(0);
    transition: 0s;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  .sidebar-links {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 20px 0;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: color 0.2s;

        &:hover {
          color: #f0a500;
        }
      }
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #00000000;
  border-radius: 5px;
  font-size: 1rem;
}
.modal-search-input::placeholder {
  font-size: 19px;
  font-weight: 200;
}
.modal-search-input:focus-visible {
  border: none;
}
.modal-search-input:focus-visible {
  border-color: #007bff;
  outline: none;
}
